footer{
    grid-area: footer;
    background-color: #282828;
    color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  footer-comp{
    margin: auto;
    color: orangered;
  }